.cartBtn{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    padding:0.6rem 2rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    background-color: #E23E57;
    color: #fff;
    outline: none;
    border: none;
}

.cartBtn:hover,
.cartBtn:active {
  background-color: #2c0d00;
  
}

.cartBtnIcon{
    margin-right: 0.4rem;

}

